<div id='header'>
  {{ info }}
  <div class='userInfo'>
  </div>
</div>
<div id='content'>
  <div class='topicListHolder'>
    <div class='topicList'>
    </div>
  </div>
  <div class='topicHolder'>
    <div class='topic'>
    </div>
  </div>
</div>