<div class="post{{#if selfPost}} selfPost{{/if}}">
  <div class="postAuthor">
    {{ authorName }}
  </div>
  <div class="postBody">
    {{ body }}
  </div>
  <div class="dateSent">
    {{ createdDate }}
  </div>
</div>