<div class="postArea">
  <form id="topicPostForm">
    <div class="textArea">
      <input type="text" placeholder="Reply" name="body">
    </div>
    <div class="submitArea">
      <input type="submit" value="submit">
    </div>
  </form>
</div>