<div class="topic">
  <div class="topicHeader">
    <div class="topicName">
      {{ name }}
    </div>
    <div class="type">
      {{ type }}
    </div>
    {{#if owner}}
      <div class="ownerName">
        {{ owner }}
      </div>
    {{/if}}
  </div>
  <div class="messageArea">
  </div>
  <div class="postArea">
  </div>
</div>