body {
  margin: 0;
}
body #main {
  color: #111111;
}
.headerView {
  width: 100%;
  height: 100px;
  background-color: #ff0000;
  color: #ffff00;
}
.headerView .logo {
  float: left;
  margin-left: 40px;
  font-size: 32px;
}
.headerView .userInfo {
  float: right;
  margin-top: 15px;
  margin-right: 60px;
  font-size: 26px;
}
.headerView .userInfo .explain {
  float: left;
  color: #555555;
  margin-right: 60px;
}
.headerView .userInfo .displayName {
  float: left;
  margin-right: 40px;
}
.headerView .userInfo .anonName {
  float: left;
}
.headerView .userInfo .signinLink {
  color: #ffff00;
  text-decoration: none;
}
.headerView .userInfo .signinLink:hover {
  color: #ffffff;
}
.topicInteractArea {
  position: absolute;
  top: 100px;
  left: 40px;
  background-color: #dddddd;
  max-height: 600px;
}
.topicInteractArea .topicPreviews {
  float: left;
  width: 200px;
  max-height: 600px;
  overflow: scroll;
}
.topicInteractArea .topicPreviews .topicPreview {
  border: solid #ffff00 1px;
}
.topicInteractArea .topicPreviews .topicPreview .name {
  font-weight: bold;
}
.topicInteractArea .topicViewHolder {
  min-width: 800px;
  max-height: 600px;
  float: left;
  border: solid #ff0000 1px;
  overflow: scroll;
}
